/*
md-grid-list {
    background-color: blueviolet;
}


md-grid-tile {
    column-span: 3;
    orphans: 2;
    border-style: none;
    align-content: center;
    align-items: center;
    border-width: 5px;
    border-color: blueviolet;
}

/*
.rightAlignNext {
    display: flex;
    align-content: right;
    width: 100%;
}

a {
    margin-left: 10px;
}
*/

md-card-title a {
    font-size: 10pt;
    font-style: italic;
    text-decoration:none;
    align-content: center;
    height: 10px;
    widows: 100%;
    display: flex;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
