.Item-Checked {
    text-decoration: line-through;
    color:grey; 
}

input {
    /* color: #E0E0E0; */
    font-weight: bold;
}

md-grid-list {
    /*background-color: RGB(103,115,135);*/
    margin-bottom: 1px;
    padding-bottom: 1px;
}

md-grid-tile {
    border-width: 1px;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: white;
}

.ColData {
    display: flex;
    width: 100%;
    align-content: left;
    background: transparent;
    border: transparent;
    border-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left:0;
    margin-right:0;
}
