<!--<form [formGroup]="newItemForm" (ngSubmit)="saveNewItem(newItemForm.value)">-->
<md-tab-group>
  <md-tab [label]="labelChecked">  <!-- Checked/UnChecked -->
    <ng-template md-tab-label>
      <a (click)="toggleCheck()"><md-icon>{{labelChecked}}</md-icon></a>
    </ng-template>
    <div *ngFor="let item of listItems | async; let i = index">
      <app-store-item *ngIf="!item.checked || labelChecked==='check_box'" 
                      [item]="item" [storeId]="storeId"></app-store-item>
    </div>
  </md-tab>
  <md-tab label="Sequence">  <!-- Sort/unsort -->
    <ng-template md-tab-label>
      <a (click)="toggleOrder()"><md-icon>{{labelOrder}}</md-icon></a>
    </ng-template>
    <div *ngFor="let item of listItems | async; let i = index">
      <app-store-item *ngIf="!item.checked || labelChecked === 'check_box'" 
                      [item]="item" [storeId]="storeId"></app-store-item>
    </div>
  </md-tab>
  <md-tab [label]="labelDate">
    <ng-template md-tab-label>
      <a (click)="toggleDate()"><md-icon>{{labelDate}}</md-icon></a>
    </ng-template>
    <div *ngFor="let item of listItems | async; let i = index">
      <app-store-item *ngIf="!item.checked || labelChecked==='check_box'"
                      [item]="item" [storeId]="storeId"></app-store-item>
    </div>
  </md-tab>
  <md-tab [label]="labelCategory">  <!-- Categorize -->
  <ng-template md-tab-label>
    <a (click)="toggleCategory()"><md-icon>{{labelCategory}}</md-icon></a>
  </ng-template>
  <div *ngFor="let item of listItems | async; let i = index">
    <app-store-item *ngIf="!item.checked || labelChecked==='check_box'"
                    [item]="item" [storeId]="storeId"></app-store-item>
  </div>
</md-tab>
  <md-tab>
    <ng-template md-tab-label>
    <button (click)="return()"><md-icon>apps</md-icon></button> 
    </ng-template>
  </md-tab>
</md-tab-group>

<!-- INPUT FORM COLUMNS -->
<form [formGroup]="newItemForm" (ngSubmit)="saveNewItem(newItemForm.value)">
<md-grid-list cols="12" rowHeight="30px" *ngIf="addMode">

    <md-grid-tile colspan="1" >
        <md-checkbox mdInput checked="0" disabled></md-checkbox>
    </md-grid-tile>
  
    <md-grid-tile colspan="1">
        <input class="ColData" type="number" placeholder="##" formControlName="newItemSeq" id="newItemSeq">
    </md-grid-tile>
  
    <md-grid-tile colspan="3"> <!-- Item Name -->
        <input class="ColData" type="text" placeholder="Item Name" 
            [mdAutocomplete]="autoItem" formControlName="newItemName" id="newItemName" required
            onkeydown = "if (event.keyCode == 13) console.log('Enter')">
        <md-autocomplete #autoItem="mdAutocomplete">
          <md-option class="Item-Option" *ngFor="let item of filteredItems | async" [value]="item">
              {{ item }}
          </md-option>
        </md-autocomplete>
    </md-grid-tile>
  
    <md-grid-tile colspan="3"> <!-- Item Note -->
        <input class="ColData" type="text" placeholder="Note..." formControlName="newItemNote" id="newItemNote">
    </md-grid-tile>

    <md-grid-tile colspan="3"> <!-- Category -->
        <input class="ColData" type="text" placeholder="Category" 
        [mdAutocomplete]="autoCategory" formControlName="newItemCategory" id="newItemCategory">
        <md-autocomplete #autoCategory="mdAutocomplete">
          <md-option class="Item-Option" *ngFor="let Category of filteredCategories | async" [value]="Category">
              {{ Category }}
          </md-option>
        </md-autocomplete>
    </md-grid-tile>

    <md-grid-tile colspan="1"> <!-- Cancel Item -->
        <a md-mini-fab (click)="cancelItem()"><md-icon>cancel</md-icon></a>
    </md-grid-tile>
</md-grid-list>

<!-- Add Button -->
<md-grid-list cols="1" rowHeight="30px">
  <md-grid-tile colspan="1">
      <!-- <span class=rightAlignNext></span>-->
      <button *ngIf="newItemForm.valid && addMode" 
              type="Submit" md-mini-fab id="submit"><md-icon>keyboard_return</md-icon></button> 

      <a *ngIf="newItemForm.valid || !addMode" md-mini-fab (click)="addItem()"><md-icon>plus_one</md-icon></a> 
  </md-grid-tile>
</md-grid-list>
</form>
